/***********************************Général*********************************************/
body{
    background-color:#fff;
    color:#000;
    font-family:'Raleway', sans-serif;
    font-size:15px;
}

h1, 
h2, 
h3{
    color:#000;
}

h1{
    font-weight: 800;
    font-size:20px;
    margin-bottom:15px;
}

h2{
    font-size:17px;
}

h3{
    font-size:15px;
    padding:0px;
    margin:0px;
}

a{
    text-decoration:none;
    color:#000;
}

input,
button{
    font-family:'raleway', sans-serif;
}


/***********************************Navigation*********************************************/

/*navigation screen min-width 801px*/
#menu-desktop{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:80px;
}

#menu-desktop div:nth-child(1) img{
    margin-top:52px;
}

#menu-desktop div:nth-child(2){
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:30%;
    height:100%;
}

#menu-desktop div a:nth-child(1),
#menu-desktop div a:nth-child(2){
    color: #000;
}
#menu-desktop div a:nth-child(3){
    color: #0065FC;
    font-weight: bold;
    margin-top:52px;
}

#menu-desktop div a:nth-child(1):hover,
#menu-desktop div a:nth-child(2):hover{
    color: #0065FC;
}

#menu-desktop div:nth-child(2) a:nth-child(1):before,
#menu-desktop div:nth-child(2) a:nth-child(2):before{
    transform: scaleX(0);
    height: 2px;
    content: '';
    border-radius: 20px;
    background-color: #0065FC;
    display: block;
    width:150%;
    margin-left:-25%;
    margin-bottom:50px;
    
}

#menu-desktop div:nth-child(2) a:nth-child(1):hover:before, 
#menu-desktop div:nth-child(2) a:nth-child(2):hover:before{
    transform: scaleX(1);
    transition: transform 2000ms;
}

/*navigation screen max-width 800px*/

#menu-mobile{
    width:100%;
}

#mobile__nav1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:100px;
    align-items:center;
    margin:0px 20px;
}
#mobile__nav1 div:nth-child(2) a{
    color:#0065FC;
    font-weight: bold;
}

#mobile__nav2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:35px;
}

#mobile__nav2 a{
    width:50%;
    text-align:center;
    border-bottom:3px solid #f2f2f2;
}

#mobile__nav2 a:hover,
#mobile__nav2 a:active{
    border-bottom:3px solid #0065FC;
}

/***********************************Barre de recherche*********************************************/

#recherche{
    margin-top:50px;
}

.recherche__argt{
    margin-bottom:15px;
}

.recherche__barre{
    height:50px;
}
.recherche__barre i{
    background-color:  #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:100%;
    width:50px;
    text-align:center;
    vertical-align: middle;
}

.recherche__barre .fas{
    line-height: 3;
}



.recherche__barre input{
    font-weight: bold;
    border:2px solid #f2f2f2;
    height:47px;
    vertical-align: middle;
    padding:0px 0px 0px 15px;
    width:240px;
    font-size:17px;
}

.recherche__barre button{
    width:140px;
    height:100%;
    border:none;
    background-color:#0065FC;
    color:#fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:pointer;
    vertical-align: middle;
    font-size:17px;
}

.recherche__barre .fa-search{
    color:#fff;
    background-color: #0065FC;
    height:100%;
    width:50px;
    border-radius:15px;
    margin-left:-15px;
}

/***********************************Filtres*********************************************/
#filtres{
    display:flex;
    flex-direction: row;  
    margin-top:30px;  
    width:70%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#filtres .choix{
    display:flex;
    flex-direction: row;
    background-color:#FFF;
    border-radius:25px;
    border:2px solid #F2F2F2;
}


#filtres i{
    background-color:  #DEEBFF;
    border-radius:100%;
    height:100%;
    width:44px;
    text-align:center;
    line-height: 3;
    color:#0065FC;
}

#filtres i:hover{
    background-color:#0065FC;
    color: #DEEBFF;
    transition-duration:2000ms;
}

.filtres__titre{
    padding:12px 15px;
    font-weight: bold;
    font-size:17px;
}

#resultats{
    margin-top:40px;
    display:flex;
    flex-direction: row;
}

#resultats i{
    border:2px solid #F2F2F2;
    margin-right:10px;
    border-radius:50%;
    font-size:12px;
    color:#0065FC;
    padding:5px 9px;

}
#resultats div{
    padding-top:3px;
}

#filtres__titre{
    padding:0px;
    margin:30px 0px 0px 0px;
}

/***********************************Liste des hébergements*********************************************/
.bloc-gris{
    background-color:#F2F2F2;
    border-radius:25px;
    
    
}

.liste{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding-right:40px;
    padding-left:40px;
    margin-top:25px;
    justify-content: space-between;
}

.legende{
    padding-top:15px;
    padding-bottom:10px;
    padding-left:15px;   
    line-height: 21px;

}


#hebergements{
    margin-top:40px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
}

#hebergements h2{
    margin-top:45px;
    padding-left:40px;
}


#logements{
    width:66%;
}

.carte{
    border-radius: 25px;
    background-color:#fff;
    box-shadow:  0px 0px 20px -10px #9B9898;
}

.bordure{
    border:5px solid #fff;
}
.carte--logements{
    height:200px;
    width:245px;
    margin-bottom:25px;

}

.logements__vignette{
    width:245px;
    height:110px;
}

.logements__image{
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#cannebiere{
    background-image: url('./images/hebergements/4_small/Auberge_la_Cannebiere.jpg'); 
}
#port{
    background-image: url('./images/hebergements/4_small/Hotel_du_port.jpg');
}

#mouettes{
    background-image: url('./images/hebergements/4_small/Hotel_les_mouettes.jpg');
}

#mer{
    background-image: url('./images/hebergements/4_small/Hotel_de_la_mer.jpg');
}

#panier{
    background-image: url('./images/hebergements/4_small/Auberge_le_panier.jpg');
}
#amina{
    background-image: url('./images/hebergements/4_small/Hotel_chez_Amina.jpg');
}

.etoiles{
    color:#0065FC;
}

.etoiles .gris{
    color:#F2F2F2;
}

.afficher{
    padding: 40px 0px 45px 40px;
    font-weight: bold;
    font-size:16px;
}



/***********************************Les plus populaires**********************************************/
#populaires{
   width:30%;
}

#populaires__titre{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#populaires__titre i{
    font-size:20px;
    padding-top: 45px;
    padding-right:40px;

}

.populaires__carte{
    width:100%;
    height:140px;
    margin-bottom:37px;
}
.populaires__carte a{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.populaires__vignette{
    height:140px;
    width:125px;
}

.populaires__image{
    height:100%;
    width:125px;
    background-size:cover;
    background-position:center center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.populaires__legende{
    padding-top:10px;
    padding-left:20px;
    padding-right:45px;
    
}
.populaires__legende .prix{
    padding-top:15px; 
    padding-bottom:45px;
    color:#000;
}

#soleil{
    background-image: url('./images/hebergements/4_small/Hotel_le_soleil_du_matin.jpg');

}

#eau{
    background-image: url('./images/hebergements/4_small/Au_coeur_de_l_eau.jpg');
}

#bleublc{
    background-image: url('./images/hebergements/4_small/Hotel_tout_bleu_tout_blanc.jpg');
}

/***********************************Activités*********************************************/

#activites{
    margin-top:60px;
}

#activites h2{
    margin-bottom:25px
}

#galerie{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 445px;
    justify-content: space-between;
}

#galerie .carte{
    width:302px;
}
.galerie__grande-carte div:nth-child(1){
    height:388px;
}

.galerie__grande-carte div:nth-child(1),
.galerie__petite-carte div a div:nth-child(1){
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    background-position: center center ;
}

#vieux-port{
    background-image: url('./images/activites/4_small/Vieux_port.jpg');
}

#calanques{
    background-image: url('./images/activites/4_small/Parc_des_Calanques.jpg');
}

.galerie__petite-carte{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
#galerie--pcarte1{
    height:243px;
}
#galerie--pcarte2{
    height:168px;
}

#galerie--pcarte3{
    height:198px;
}

#galerie--pcarte4{
    height:212px;
}

#pomegues{
    background-image: url('./images/activites/4_small/Fort_de_Pomegues.jpg');
    height:180px;
}

#frioul{
    background-image: url('./images/activites/4_small/Iles_du_Frioul.jpg');
    height:110px;
}

#ndgarde{
    background-image: url('./images/activites/4_small/Notre_Dame_de_la_Garde.jpg');
    height:140px;
}

#longchamp{
    background-image: url('./images/activites/4_small/Parc_Longchamp.jpg');
    height:155px;
}

.galerie__legende{
    font-weight:bold;
    padding-top:25px;
    padding-left:18px;
}

footer{
    margin-top:60px;
}

/**********************************Footer*********************************************/

footer{
    background-color: #F2F2F2;
    display:flex;
    justify-content: space-between;
    padding:30px;
}

footer ul{
    padding:0px;
}

footer li{
    list-style-type: none;
    font-weight: 500;    
    line-height: 28px;
}

footer a{
    color:#000;
}

footer #marge{
    width:20%;
}

/**********************************Media queries********************************************/


@media all and (max-width:800px){
    #menu-desktop{
        display:none;
    }
    h3{
        font-size:14px;
    }

    #recherche{
        margin-top:35px;
        margin-right:20px;
        margin-left:20px;
    }
    .recherche__barre input{
        width:185px;
    }
    .recherche__barre button{
        display:none;
    }
    #filtres{
        width:auto;
        margin-top:15px;
    }
    #filtres h2{
        display:none;
    }
    #filtres .choix{
        margin-bottom:10px;
    }
    #resultats{
        margin-top:25px;
    }
    #resultats i{
        height:100%;
    }
    #hebergements{
        margin-top:35px;
        flex-direction: column-reverse;
    
    }

    #hebergements h2{
        padding-left:20px;
    }
    #populaires{
        width:100%;
        padding-bottom:25px;
    }
    #populaires__titre i{
        padding-right:20px;
    }
    .bloc-gris{
        border-radius:0px;
    }
    .liste{
        padding-left:20px;
        padding-right:20px;
    }
    .populaires__legende .prix{
        padding-bottom:25px;
    }
    #logements{
        width:100%;
        background-color:#fff;
    }
    .liste{
        flex-direction: column;
    }
    #hebergements h2{
        margin-top:40px;
        margin-bottom:15px;
    }

    #logements .liste{
        margin-top:20px;
        width:100%;
    }

    #populaires__titre{
        align-items:baseline;
    }
    #populaires .liste,
    #logements .liste{
        padding:0px;
        margin:0px;
    }
    .populaires__carte a{
        justify-content:start;
    }

    .populaires__legende{
        padding-right:20px;
    }
    .populaires__carte,
    .carte--logements{
        width:auto;
        margin-right: 20px;
        margin-left:20px;
        margin-bottom:10px;
    }
    .logements__vignette{
        width:100%;
    }
    .afficher{
        margin-top:20px;
        padding:0px 20px;
    }

    #activites{
        margin-top:50px;
        margin-right:20px;
        margin-left:20px;
    }
    #galerie{
        flex-direction: column;
        flex-wrap: nowrap;
        height:auto;
    }

    #galerie .carte{
        width:100%;
    }

    .galerie__petite-carte{
        display:block;
    }

    #galerie .galerie__carte-mobile{
        height:190px;       
        margin-bottom:20px;
    }

    .galerie__carte-mobile a div:nth-child(1),
    #pomegues,
    #frioul,
    #ndgarde,
    #longchamp{
        height:132px;
    }

    #vieux-port,
    #ndgarde{
        background-position:50% 20%;

    }
    #pomegues{
        background-position: 50% 45%;
    }

    #frioul,
    #calanques{
        background-position: 50% 25%;
    }
    #longchamp{
        background-position: 50% 30%;
    }

    footer{
        margin-top:50px;
        width:auto;
        flex-direction:column;
        padding-top:50px;
        padding-left:25px;
        padding-bottom:45px;
        
    }
    
    footer .marge{
        display:none;
    }

}

@media all and (min-width:801px){
    body{
        margin: 0px 50px;
    }
    
    #menu-mobile{
        display:none;
    }
    .recherche__barre .fa-search{
        display:none;
    }
    #filtres__titre{
        display:none;
    }
}


@media all and (max-width:374px){
    .recherche__barre{
        height:30px;
    }
    .recherche__barre .fas{
        line-height: 2;

    }

    .recherche__barre input{
        width:160px;
        height:26px;
    }

    .recherche__barre i,
    .recherche__barre .fa-search{
        width:35px;
    }
    .recherche__barre .fa-search{
        margin-left:-13px;
    }

    .populaires__legende{
        padding-right:0px;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
    }

    .populaires__legende .prix{
        padding-top:5px;
        padding-bottom:10px;
    }
    .etoiles{
        font-size:12px;
    }
}
@media all and (min-width:720px) and (max-width:800px){
    #filtres{
        justify-content: flex-start;
    }
    #filtres .choix{
        margin-right:10px;
    }
    .populaires__vignette,
    .populaires__image{
        width:340px;
    }
    .populaires__image{
        background-position:50% 60%;
    }
    .carte--logements{
        height:290px;
    }
    .logements__vignette{
        height:200px;
    }
    .logements__image{
        background-position: 50% 60%;
    }
    #galerie .galerie__carte-mobile{
        height:290px;
    }
    .galerie__carte-mobile a div:nth-child(1),
    #pomegues,
    #frioul,
    #ndgarde,
    #longchamp{
        height:232px;
    }
    #vieux-port{
        background-image: url('./images/activites/3_medium/Vieux_port.jpg');
    }
    #pomegues{
        background-image: url('./images/activites/3_medium/Fort_de_Pomegues.jpg');
    }
    #frioul{
        background-image: url('./images/activites/3_medium/Ils_du_Frioul.jpg');
    }
    #ndgarde{
        background-image: url('./images/activites/3_medium/Notre_Dame_de_la_Garde.jpg');
    }
    #calanques{
        background-image: url('./images/activites/3_medium/Parc_des_Calanques.jpg');
    }
    #longchamp{
        background-image: url('./images/activites/3_medium/Parc_Longchamp.jpg');
    }

}