
/***********************************Police Raleway*********************************************/

@font-face {font-family: "raleway"; src: url('../PremierProjet/Raleway/Raleway-VariableFont_wght.ttf'); }

/***********************************Général*********************************************/
body{
    color:#0065FC;
    font-family:'raleway', sans-serif;
    font-size:15px;
    font-weight: lighter;
    padding-left:30px;
    padding-right:30px;
    background-color:#fff;
    margin:0 auto;
}

h2, h3{
    font-weight: 500;
}

/***********************************Navigation*********************************************/

.menu-desktop{
    display:flex;
    justify-content:flex-end;
}


.menu-desktop .logo{
    left: 60px;
    position:absolute;
    margin:20px 10px;
    padding-left:30px;
}

.menu-desktop a{
    margin:20px 50px;
    text-decoration:none;
    color: #000;
    border-top:2px solid #fff;
    padding-left:15px;
    padding-right:15px;
}

.menu-desktop a:hover{
    color:#0065fc;
 
}

.menu-desktop a::before{
    transform: scaleX(0);
    height: 2px;
    content: '';
    border-radius: 20px;
    background-color: #0065FC;
    display: block;
    width:150%;
    margin-left:-25%;
}

.menu-desktop a:hover::before{
    transform: scaleX(1);
    transition: transform 2000ms;
}

.menu-desktop .inscription:hover{
    border-top:2px solid #fff;
}

.menu-desktop a h2{
    font-weight:500;
}

.menu-desktop .inscription h2{
    font-weight:bold;
    color:#0065FC;
}


h1{
    font-weight:bold;
    font-size:20px;
    color:#000000;
}

h2{
    color:#000;
    font-weight: bold;
    font-size:15px;
}

h3{
    color:#000;
}
/***********************************Barre de recherche*********************************************/
.recherche{
    margin-left:30px;
}
.icone-map{
    color:#000;
    padding:10px;
    background-color:  #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.barre-recherche .champ{
    color:#000;
    font-weight: bold;
    padding:10px;
    border:1px solid #F2F2F2;
    font-family:'raleway', sans-serif;
}

.barre-recherche button{
    padding:10px;
    background-color:#0065fc;
    color:#fff;
    font-weight:600;
    font-family:'raleway', sans-serif;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
    cursor:pointer;
}
/***********************************Filtres*********************************************/
.filtres{
    display:flex;
    margin-top:30px;
  
}

.filtres a{
    text-decoration:none;
    color:#0065FC;
}

.filtres h2{
    margin-right:30px;
}

.filtres .choix{
    border:3px solid #F2F2F2;
    background-color: #fff;
    border-radius:25px;
    font-weight: bold;
    display:flex;
    margin-right:13px;
}


.filtres .choix .tooltip{
    visibility: hidden;
    width: 200px;
    background-color:#0065FC;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    margin-top:-38px;
    margin-left:-130px;
  }

  .filtres .choix:hover .tooltip{
    visibility: visible;
  }

.filtres .titre-filtre{
    margin:10px 20px 0px 5px;
}


.filtres i{
    border-radius:50%;
    background-color:#DEEBFF ;
    color:#0065FC;
    padding:12px;
}
.filtres i:hover, .filtres .choix:hover i{
    background-color:#0065FC;
    color:#F2F2F2;
    transition-duration:2000ms;
}


.nb-logement{
    color:#000;
    font-weight: 500;
    margin:20px 0px 20px 0px;
}
.nb-logement i{
    border:2px solid #F2F2F2;
    margin-right:10px;
    border-radius:50%;
    font-size:12px;
    color:#0065FC;
    padding:5px 9px;
}

/***********************************Liste des hébergements*********************************************/

#liste-hebergements{
    display:flex;
    flex-wrap:wrap; 
    justify-content: space-around;
    
}

#liste-hebergements aside, .logement{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding:10px 20px;
}

#liste-hebergements a, #galerie a{
    text-decoration:none;
}

.logement{
    width:70%;
}

.logement h2 a{
    text-decoration:none;
    color:#000;
}

.listing{
    display:flex;
    flex-wrap:wrap;
}

.listing article, .encart{
    box-shadow:  0px 0px 20px -10px #9B9898;
    margin: 10px;
    border-radius: 25px;
}

.prix{
    color:#000;
    font-weight: 500;
}


.logement img{
    width:300px;
    height:150px;
    border:5px solid #fff;
    object-fit: cover;    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.logement h2{
    line-height:5px;   
}
.marseille {
    margin-left:20px;
}

.logement .prix{
    padding-bottom:7px;
}

figcaption{
    background-color:#fff; 
}
.logement figcaption, #galerie .listing .colonne figcaption{
    margin-top:-16px;
    padding:11px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.etoiles .gris{
    color:#F2F2F2
}

/***********************************Les plus populaires*********************************************/

#liste-hebergements aside{
    width:20%;
}

#liste-hebergements aside .suggestion{
    display:flex;
    flex:auto;
    margin-bottom:20px;
}

.cadre{
    width:150px;
    height:130px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border:5px solid #fff;
}

.image1, .image2, .image3{
    background-size:cover;
    background-position: bottom center;
}
.image1{
    background-image: url('images/hebergements/4_small/Hotel_le_soleil_du_matin.jpg');
}
 
.image2{
    background-image: url('images/hebergements/4_small/Au_coeur_de_l_eau.jpg');
}

.image3{
    background-image: url('images/hebergements/4_small/Hotel_tout_bleu_tout_blanc.jpg');
}


#liste-hebergements aside figcaption{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:50%;
}
#liste-hebergements aside figcaption .etoiles{
    margin-bottom:5px;
}

.populaires{
    display:flex;
    justify-content: space-between;
}

/***********************************Activités*********************************************/
.galerie1{
    background-image: url('images/activites/4_small/Vieux_port.jpg');
}
.galerie2{
    background-image: url('images/activites/4_small/Fort_de_Pomegues.jpg');
}
.galerie3{
    background-image: url('images/activites/4_small/Iles_du_Frioul.jpg');
}
.galerie4{
    background-image: url('images/activites/4_small/Parc_des_Calanques.jpg');
}
.galerie5{
    background-image: url('images/activites/4_small/Notre_Dame_de_la_Garde.jpg');
}
.galerie6{
    background-image: url('images/activites/4_small/Parc_Longchamp.jpg');
}

#galerie .activites .listing{
    justify-content: space-around;
}

#galerie .activites .listing .colonne{
    width:20%;
}

.galerie1, .galerie2, .galerie3, .galerie4, .galerie5, .galerie6{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border:5px solid #fff;
    background-size: cover;
    background-position: center center;    
}

.galerie1, .galerie4{
    height:380px;  
}

.galerie5, .galerie6{
    height:150px;
}

.galerie2{
    height:200px;
} 

.galerie3{
    height:100px;
}

.petite-image{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
}
.activites{
    padding:10px 20px;
}

.activites h2{
    margin-left:20px;
}

/**********************************Footer*********************************************/

footer{
    background-color: #F2F2F2;
    display:flex;
    justify-content: space-between;
    padding:30px;
}

footer ul{
    padding:0px;
}

footer li{
    list-style-type: none;
    font-weight: 500;    
    line-height: 28px;
}

footer a{
    text-decoration: none;
    color:#000;
}

footer .marge{
    width:20%;
}

/**********************************Media queries*********************************************/

.menu-mobile .ligne-1, .menu-mobile .ligne-2{
    display:flex;
    flex-direction:row;
}
.menu-mobile .ligne-1{
    justify-content: space-between;
    padding:20px;
}
.ligne-1 a{
    text-decoration: none;
}
.ligne-1 h2, .ligne-2 h2{
    color:#0065FC;
}

.menu-mobile .ligne-2{
    justify-content: center;
    
}
.ligne-2 .menu-hebergements, .ligne-2 .menu-activites{
    text-align:center;
    width:50%;
    
}

.ligne-2 a{
    text-decoration:none;
    border-bottom: 3px solid #f2f2f2;
}

.ligne-2 a:hover{
    border-bottom: 3px solid #0065FC;
    transition-duration: 1500ms;
}


.ligne-2 h2{
    
}



@media screen and (max-width:800px) {
    body{
        padding:5px;
    }
   
    .menu-desktop{
       display: none;
   }
   .filtres{
       flex-wrap: wrap;
       flex-flow:column;
   }
   .choix{
       margin-top:10px;
   }
   #liste-hebergements{
       flex-direction:column-reverse ;
       
   }
   #liste-hebergements aside, #liste-hebergements .logement{
       width:100%;
       border-radius:0px;
       padding:0px;
      
   }
   #liste-hebergements .logement{
       background-color:#fff;
   }
   #liste-hebergements aside{
       
   }
   .suggestion{
       width:100%;
       height:auto;
       margin-left:2.5%;
   }
   .etoiles{
       color:#0065FC;
   }
   
   .populaires{
       padding:10px;
   }
   .listing{
       display:flex;
       flex-wrap:wrap;
       flex-direction: column;
       width:95%;
       margin-left:2.5%;
   }
   #liste-hebergements aside figcaption{
       width:66%;
       max-width:66%;
   }
   .cadre{
       width:33%;
   }
   .image1, .image2, .image3{
       background-position: center center;
   }
   .marseille{
       padding-top:10px;
   }
   .logement img{
       width:100%;
       height:190px;
       object-position:0% 70%;
       border:0px solid #fff;
   }
   .logement .listing article{
       border:5px solid #fff;
   }
   .logement h2 a{
       margin-left:15px;
   }
   .activites{
       padding:0px;
   }
   #galerie .activites .listing .colonne{
       width:100%;
   }
   .galerie1, .galerie2, .galerie3, .galerie4, .galerie5, .galerie6{
       height:250px;
   }
   .encart{
       margin:0px;
   }
   .colonne, .pomegues, .ndlagarde{
       margin-bottom:10px;
   }
   footer{
       width:100%;
       flex-direction:column;
       padding:0px;
       padding-top:20px;
       padding-left:40px;
   }
   
   footer .marge{
       display:none;
   }

   
}
@media screen and (min-width:801px) {
    .menu-mobile{
        display: none;
    }
 }